:root {
    /* Color */
    --primary-color: #EE4D2D;
    --white-color: #FFF;
    --black-color: #000;
    --text-color: #333;
    --border-color: #DBDBDB;
    --gold-star-color: #FFCE3D;

    /* Height */
    --header-height: 120px;
    --navbar-height: 40px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 10px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive
Rule => .grid {.row {.column {}}}
*/
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

/* Bridge */
.bridge::after {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 16px;
    content: "";
    display: block;
    /* background-color: var(--black-color); */
}

/* Arrow Up */
.arrow__up::before {
    content: "";
    display: block;
    border-width: 20px 28px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -30px;
    z-index: 0;
    cursor: pointer;
}

/* Seperate Line */
.separate__vertical::after {
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    top: -1px;
    /* transform: translateY(-50%); */
    border: 1px solid #FB9086;
    height: 14px;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* display: flex; */
    animation: fadeIn linear 0.15s;
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.15s;
}

/* Open Forms */
.show__overlay {
    display: flex;
}

.open__form {
    display: block !important;
}

/* Button style */
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 2.5;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disable {
    color: #949494;
    cursor: default;
    background-color: #C3C3C3;
}

/* Selection */
.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    position: relative;
    top: 0;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    margin-top: 2px;
    padding: 8px 12px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    box-shadow: 0 1px 3px #CCC;
    z-index: 1;
}

.select-input__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-left: 0;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
    border-radius: 50%;
    background-color: #ED5C3F;
    color: var(--white-color);
}

.pagination-item__link {
    --height: 32px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
}

.pagination-item--disable .pagination-item__link {
    cursor: default;
    pointer-events: none;
}