.app {
    overflow: hidden;
}

.open:hover .app__header__qr,
.open:hover .app__header__notify,
.open:hover .app__header__languages,
.open:hover .app__header__search-option,
.open:hover .app__header__cart-list,
.open:hover .app__header__navbar-user-menu,
.open:hover .select-input__list {
    display: block;
}

.app__header {
    height: var(--header-height);
    background-image: linear-gradient(0, #FE6433, #F53E2D);
}

.app__header__navbar {
    display: flex;
    justify-content: space-between;
}

.app__header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 8px 0 ;
    display: flex;
    align-items: center;
}

.app__header__navbar-item {
    margin: 0 8px;
    position: relative;
    /* min-height: 26px; */
}

.app__header__navbar-item,
.app__header__navbar-item-link{
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 300;
}

/* Sign up & Log in form */
.app__header__navbar-forms-btn {
    display: inline-flex;
}

/* Header User Section */
.app__header__navbar-user {
    position: relative;
    display: none;
}

.app__header__navbar-user-img {
    width: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 2px;
}

.app__header__navbar-user-name {
    margin-left: 6px;
    font-size: 1.4rem;
    font-weight: 500
}

.app__header__navbar-user-menu {
    position: absolute;
    top: 165%;
    right: 0;
    padding-left: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 140px;
    list-style: none;
    box-shadow: 0 0 3px #CCC;
    display: none;
    z-index: 2;
    animation: headerGrowth ease-in 0.3s;
    transform-origin: calc(100% - 32px) top;
}

.app__header__navbar-user-menu.arrow__up::before {
    z-index: -1;
}

.app__header__navbar-user-item:first-child a:hover {
    background-color: #FAFAFA;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.app__header__navbar-user-item:last-child {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.app__header__navbar-user-item:last-child a:hover {
    background-color: #FAFAFA;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.app__header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 16px;
}


.app__header__navbar-user-item a:hover {
    background-color: #FAFAFA;
}

/* .app__header__navbar-item,
.app__header__navbar-item-link,
.app__header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
} */

.app__header__navbar-item:hover,
.app__header__navbar-item-link:hover,
.app__header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.app__header__navbar-item--strong {
    font-weight: 600;
}

.app__header__navbar-icon-link {
    text-decoration: none;
    color: var(--white-color);
}

.app__header__navbar-icon-link:nth-child(2) {
    margin-left: 6px;
}

.app__header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 6px 4px 6px;
}

/* .app__header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    top: 0;
    border: 1px solid #FB9086;
    height: 14px;
} */

.app__header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */
.app__header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 165%;
    padding: 8px;
    border-radius: 2px;
    animation: fadeIn ease-in 0.3s;
    box-shadow: 0 0 3px #CCC;
    display: none;
    z-index: 2;
}

/* .app__header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
    background-color: red;

} */

.app__header__qr-img {
    width: 100%;
    cursor: default;
}

.app__header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.app__header__qr-link:first-child {
    margin-left: 11px;
}

.app__header__qr-link:last-child {
    margin-right: 11px;
}

.app__header__qr-download-img {
    height: 16px;
}

/* Header Notify */
.app__header__notify {
    position: absolute;
    top: 165%;
    right: 0;
    width: 404px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: var(--white-color);
    cursor: default;
    /* This property will optimize these two properties. */
    will-change: opacity, transform; 
    display: none;
    z-index: 3;
    animation: headerGrowth ease-in 0.3s;
    transform-origin: calc(100% - 32px) top;
}

/* .app__header__notify::before {
    content: "";
    display: block;
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 1px;
    top: -30px;
} */

@keyframes headerGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.app__header__notify-header {
    height: 40px;
}

.app__header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.app__header__notify-list {
    padding-left: 0;
    height: 50vh;
    overflow-y: auto;
}

/* .app__header__notify-item {
    
} */

.app__header__notify-item:hover {
    background-color: #F7F7F7;
}

.app__header__notify-item--viewed {
    background-color:  rgba(238, 77, 45, 0.08);
}

.app__header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.app__header__notify-img {
    width: 48px;
    object-fit: contain;
}

.app__header__notify-info {
    margin-left: 12px;
    text-align: justify;
}

.app__header__notify-name {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 4px;
}

.app__header__notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
}

.app__header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    display: block;
}

/* Header Languages */
.app__header__languages {
    position: absolute;
    top: 165%;
    right: 0;
    background-color: var(--white-color);
    width: 132px;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    animation: headerGrowth ease-in 0.3s;
    transform-origin: calc(100% - 32px) top;
    display: none;
    z-index: 2;
}

.app__header__languages-list {
    list-style: none;
    padding-left: 0;
}

/* .app__header__languages-item {

} */

.app__header__languages-link {
    display: block;
    flex-flow: 1;
    color: var(--text-color);
    font-weight: 500;
    padding: 8px 0 8px 8px;
    text-decoration: none;
}

.app__header__languages-link--selected {
    color: var(--primary-color);
}

.app__header__languages-link:hover {
    color: var(--primary-color);
}

/* Authen form */
/* .auth-form__sign-up-form {
    display: none;
}

.auth-form__log-in-form {
    display: none;
} */

/* Authen Modal */
.auth-form {
    display: none;
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    user-select: none;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 12px 0 12px;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

/* .auth-form__form {
} */

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__policy {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-btn-back {
    margin-right: 8px;
}

.auth-form__controls-btn-back:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.auth-form__controls .btn--primary:hover {
    opacity: 0.85;
}

.auth-form__socials {
    background-color: #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
    margin-right: 14px;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
    padding: 0 12px;
}

.auth-form__socials--google {
    color: #666;
    background-color: var(--white-color);
    padding: 0 12px;
    width: 178.77px;
}

.auth-form__socials--google
.auth-form__socials-icon {
    width: 20px;
}

.auth-form__socials--facebook:hover,
.auth-form__socials--google:hover {
    opacity: 0.8;
}

.auth-form__socials-title {
    margin: 0 32px;
    font-size: 1.4rem;
}

/* Log in form */
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: #939393;
}

.auth-form__help {
    margin-top: 16px;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    border-left: 1px solid #EAEAEA;
    margin: -4px 16px 0;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Side category menu on mobile */
/* .app__header__side-menu {
    height: var(--header-height);
    display: inline-flex;
    align-items: center;
    position: relative;
}

.app__header__side-menu-icon {
    font-size: 2.8rem;
    color: var(--white-color);
    padding: 0 16px;
}

.app__header__side-menu-wrap {
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 75vw;
    height: 100%;
    background-color: var(--white-color);
    
}

.app__header__side-menu-heading {
    margin: 0;
    padding: 10px 0;
    font-size: 1.5rem;
    color: var(--primary-color);
    padding-left: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.app__header__side-menu-list {
    padding-left: 0;
    list-style: none;
    font-size: 1.4rem;
    margin: 6px 0 0 0;
}

.app__header__side-menu-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding: 6px 0;
}

.app__header__side-menu-item:last-child {
    border-bottom: none;
}

.app__header__side-menu-link {
    text-decoration: none;
    color: var(--text-color);
    padding-left: 16px;
} */


/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__mobile-search {
    padding: 12px;
    display: none;
}

.app__header__mobile-search-checkbox:checked ~ .app__header__search {
    /* transform: translateY(0);
    opacity: 1; */
    display: flex;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.app__header__logo {
    width: 200px;
}

.app__header__logo-link {
    color: transparent;
    text-decoration: none;
    display: block;
    line-height: 0;
}

.app__header__logo-img {
    width: 150px;
}

.app__header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

/* Search input */
.app__header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.app__header__search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 8px;
    border-radius: 2px;
}

.app__header__search-input:focus ~ .app__header__search-history {
    display: block;
}

/* Search history */
.app__header__search-history {
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 5px #CCC;
    z-index: 2;
    overflow: hidden;
    display: none;
}

.app__header__search-history-heading {
    margin: 6px 14px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
    user-select: none;
}

.app__header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.app__header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.app__header__search-history-item:hover {
    background-color: #FAFAFA;
}

.app__header__search-history-item a {
    line-height: 38px;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
}

/* Header sort bar */
.app__header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    display: none;
}

.app__header__sort-item {
    flex: 1;
}

.app__header__sort-item--active .app__header__sort-link{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.app__header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

.app__header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #E5E5E5;
    transform: translateY(-50%);
}

.app__header__sort-item:first-child .app__header__sort-link::before{
    display: none;
}

/* Search selection box */
.app__header__search-selection {
    height: 30px;
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.app__header__search-selection-label {
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 30px;
}

.app__header__search-selection-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 12px 0 8px;
    position: relative;
    top: 0;
}

.app__header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    cursor: pointer;
}

.app__header__search-btn:hover {
    background-color: #FB5533;
}

.app__header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.app__header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    width: 135px;
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: 0 1px 3px #CCC;
    padding-left: 0;
    display: none;
    z-index: 1;
    animation: fadeIn ease-in 0.3s;
}

.app__header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.app__header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.app__header__search-option-item {
    background-color: var(--white-color);
    padding: 12px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.app__header__search-option-item:hover {
    background-color: #FAFAFA;
}

.app__header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.app__header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    display: none;
}

.app__header__search-option-item--active i {
    display: inline-block;
}

/* Shopping cart */
.app__header__cart {
    width: 140px;
    text-align: center;
}

.app__header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
}

.app__header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 3px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.app__header__cart-list {
    position: absolute;
    top: calc(100% + 11px);
    right: -8px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 10px #CCC;
    display: none;
    z-index: 1;
    animation: headerGrowth ease-in 0.3s;
    transform-origin: calc(100% - 32px) top;
}

.app__header__cart-list--empty-cart {
    padding: 24px 0;
}

.app__header__cart-list--empty-cart .app__header__cart-empty-cart-img,
.app__header__cart-list--empty-cart .app__header__cart-list-empty-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.app__header__cart-empty-cart-img {
    width: 60%;
    display: none;
}

.app__header__cart-list-empty-cart-msg {
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
    user-select: none;
    display: none;
}

.app__header__cart-notice {
    position: absolute;
    top: -10px;
    right: -4px;
    padding: 1px 8px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.6rem;
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    user-select: none;
}

.app__header__cart-heading {
    text-align: left;
    margin: 12px 0 8px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
    user-select: none;
}

.app__header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 50vh;
    /* This will make a scroll down */
    overflow-y: auto;
}

.app__header__cart-item {
    display: flex;
    align-items: center;
    margin: 0;
}

.app__header__cart-item:hover {
    background-color: #F8F8F8;
}

.app__header__cart-img {
    width: 48px;
    height: 48px;
    margin: 12px;
}

.app__header__cart-item-info {
    width: 100%;
    margin-right: 12px;
    text-align: left;
}

.app__header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app__header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    line-height: 1.8rem;
    max-width: 200px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.app__header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.app__header__cart-item-mutiply {
    color: #757575;
    font-size: 1.1rem;
    margin: 0 4px;
}

.app__header__cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;
}

.app__header__cart-item-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
}

.app__header__cart-item-category {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 400;
}

.app__header__cart-item-remove-btn {
    color: var(--text-color);
    font-size: 1.4rem;
}

.app__header__cart-item-remove-btn:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.app__header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}


/* App container */
.app__container {
    background-color: #F5F5F5;
}

.app__content {
    padding: 36px 0;
}

.app__container .category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.app__container .category__heading {
    font-size: 1.8rem;
    font-weight: 450;
    color: var(--text-color);
    padding: 18px 0 0 14px;
    margin: 0 0 12px 0;
    text-transform: uppercase;
}

/* .app__container .category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
} */

.category-list {
    padding: 0 0 6px 0;
    list-style: none;
    margin-left: 10px;
}

.category-item {
    position: relative;
}

.category-item::before {
    content: "";
    border-top: 1px solid #E1E1E1;
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
}

.category-item:first-child::before {
    display: none;
}

.category-item--action .category-item__link {
    font-weight: 500;
    color: var(--primary-color);
}

.category-item--action .category-item__link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(calc(-50% - 1px));
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    color: var(--text-color);
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    transition: right linear 0.15s;
    right: 0;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* mobile category */
.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin: auto 5px auto 0;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87AFD8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #76C9BD;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #88CF81;
}

.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: var(--line-height);
    height: cacl(var(--line-height));
    overflow: hidden;
    text-align: center;
    width: 110px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    padding: 0 6px;
    user-select: none;
    -webkit-user-select: none;
}

/* Home sort + filter */
.home-filter {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 13px 20px;
    border-radius: 2px;
}

.home-filter__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
    user-select: none;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    border-radius: 2px;
    border: 1px solid #EEE;
    overflow: hidden;
    text-decoration: none;
    flex: 1;
    background-color: var(--white-color);
    display: flex;
}

.home-filter__page-btn--disable {
    cursor: default;
    background-color: #F9F9F9;
    pointer-events: none;
}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #CCC;
}

.home-filter__page-btn:last-child {
    margin-left: 1px;
}

.home-filter__page-icon {
    font-size: 1.4rem;
    color: #555;
    margin: auto;
}

/* Product item */
.product-item {
    position: relative;
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    display: block;
    transition: transform linear 0.1s;
}

.product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.product-item__info {
    padding: 10px;
}

.product-item__name {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.6rem;
    margin: 0 0 10px 0;
    height: 3.2rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-item__price {
    display: flex;
    margin: 0 0 8px 0;
    align-items: baseline;
    flex-wrap: wrap;
}

.product-item__price-old {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.54);
    text-decoration: line-through;
    margin-right: 6px;
}

.product-item__price-new {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.product-item__action {
    display: flex;
    justify-content: space-between;
}

.product-item__like {
    font-size: 1.3rem;
}

i.product-item__like-icon-fill {
    color: #F63D30;
    display: none;
}

.product-item__like--liked .product-item__like-icon-fill {
    display: inline-block;
}

.product-item__like--liked .product-item__like-icon-unfill {
    display: none;
}

.product-item__rating {
    display: flex;
    align-items: center;
    margin: 0 0 1.4px auto;
}

.product-item__rating-icon {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    
    color: #D5D5D5;
}

.product-item__rating-icon.product-item__rating-gold-star {
    color: var(--gold-star-color);
}

.product-item__quatity-sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 4px;
}

.product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 0 0;
    font-size: 1.2rem;
    font-size: 300;
    color:rgba(0, 0, 0, 0.54)
}

.product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--primary-color);
    background-color: currentColor;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0 4px;
    user-select: none;
}

.product-item__favorite span {
    color: var(--white-color);
}

.product-item__favorite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.product-item__favorite-icon {
    font-size: 1.1rem;
    margin-right: 2px;
    color: var(--white-color);
}

.product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    color: rgba(255, 216, 64, 0.94);
    background-color: currentColor;
    text-align: center;
    font-weight: 500;
    padding-top: 6px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-top-right-radius: 2px;
}

.product-item__sale-off::after {
    content: "";
    position: absolute;
    top: 36px;
    right: 0;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
}

.product-item__sale-off-percent {
    color: #EE4D2D;    
}

.product-item__sale-off-label {
    color: var(--white-color);
}

/* Pagination */
.product__pagination {
    margin: 48px 0 32px;
    padding-left: 0;
}

/* Footer */
.app__footer {
    /* margin: 0 8px; */
    padding-top: 12px;
    border-top: 4px solid var(--primary-color);
}

.app__footer__heading {
    color: #666;
    font-size: 1.4rem;
    font-weight: 450;
    margin: 30px 0 8px;
}

.app__footer__list {
    list-style: none;
    padding-left: 0;
}

.app__footer__item {
    padding: 6px 0;
}

.app__footer__item-link {
    font-size: 1.2rem;
    text-decoration: none;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.app__footer__item-link:hover {
    color: var(--primary-color);
}

.app__footer__item-payment-methods,
.app__footer__item-logistic-methods {
    display: flex;
    align-items: center;
}

.app__footer__item-payment-methods-img {
    width: 54px;
    margin-right: 16px;
}

.app__footer__item-logistic-methods-img {
    width: 70px;
    margin: 8px 16px 0 0;
}

.app__footer__item-payment-methods-img:hover,
.app__footer__item-logistic-methods-img:hover {
    --growth-from: 1;
    --growth-to: 1.3;
    animation: growth linear 0.3s forwards;
}

.app__footer__item-social {
    display: flex;
    align-items: center;
    padding: 6px 0;
}

.app__footer__item-social-icon {
    font-size: 1.6rem;
    color: #666;
    margin-right: 6px;
}

.app__footer__download {
    display: flex;
}

.app__footer__download-qr {
    width: 80px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    margin-right: 8px;
}

.app__footer__download-apps {
    flex: 1;
    margin-left: 8px;
}

.app__footer__download-app-img {
    width: 80px;
    display: block;
}

.app__footer__download-app-img:first-child {
    margin: 10px 0 24px 0;
}

.app__footer__copyright_countries {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 5px;
    color: #737373;
    font-size: 1.4rem;
    line-height: 1.8;
    display: flex;
    text-align: center;
}

.app__footer__copyright-text {
    padding: 26px 0;
    flex: 3;
}

.app__footer__countries {
    padding: 26px 0;
    flex: 8;
}

.app__footer__download {
    margin: auto;
}